<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.ziptie.zap.web.WebRegistry">
      <filter
            alias="SecurityFilter"
            class="org.ziptie.server.security.ZSecurityFilter">
         <url-pattern
               pattern="/server/*">
         </url-pattern>
      </filter>
   </extension>
   
       <extension
        point="org.ziptie.zap.hibernate.PersistenceUnit">
        <persistence-unit name="ziptie-ds">
            <class
                  name="org.ziptie.server.security.ZRole">
            </class>
            <class name="org.ziptie.server.security.ZPrincipal"/>
        </persistence-unit>
       </extension>
       <extension
             point="org.ziptie.zap.security.SecurityPermissions">
          <permission
                display="%org.ziptie.security.administer"
                id="org.ziptie.security.administer">
          </permission>
       </extension>
</plugin>
