<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="quartzJob" name="Quartz Job" schema="schema/QuartzJob.exsd"/>
    <extension
        point="org.ziptie.zap.hibernate.PersistenceUnit">
        <persistence-unit name="ziptie-ds">
            <class name="org.ziptie.provider.scheduler.ExecutionData"/>
        </persistence-unit>
    </extension>
    <extension point="org.ziptie.zap.security.SecurityPermissions">
       <permission
             display="%filterPermission"
             id="org.ziptie.filters.administer" />
    </extension>
</plugin>
